################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/softHardwareAdmin/obj
**/.vs
**/.vscode
**/bin
**/obj
**/Migrations
